<!-- Department of Oncology Page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View-Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="department-page">
  <header class="dept-navbar">
  <div class="nav-left">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="nav-logo">
    <span class="site-title">Hospital Management System</span>
  </div>
  <div class="nav-right">
  
    <a class="nav-btn" href="{{ url_for('patient_history_from_dashboard')}}">History</a>
    <a href="{{ url_for('logout') }}" class="nav-btn nav-logout">Logout</a>
  </div>
</header>

  <div class="dept-main-container">
  <div class="dept-overview-box">
    <div class="dept-header">
      <h2>Department of {{department.name}}</h2>
    </div>
    <div class="dept-overview">
      <h3>Overview</h3>
      <p>
       {{department.description}}
      </p>
    </div>
  </div>
  <div class="doctor-list-box">
   
    <h2 style="color: #1977cc;">Doctors' list</h2>
     {%for doctor in doctors%}
    <div class="doctor-row">
      <input type="text" readonly value="Dr. {{doctor.full_name}}" class="doctor-input">
      <a href="{{ url_for('book_page', doctor_id=doctor.id) }}" class="doctor-btn avail-btn">check availability</a>
      <a href="{{ url_for('dr_detail_card', doctor_id=doctor.id, dept_id=department.id) }}" class="doctor-btn detail-btn">view details</a>

    </div>
    {%endfor%}
    </div>
  </div>
</div>

</body>
</html>
